/* -----------------------------------------------------------------
    - General Styles
----------------------------------------------------------------- */
*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}
p{
  text-align: justify;
  margin: 0 auto;
  padding: 0 auto;
}

html {
  font-size: 1rem;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-x: hidden;
}

body, html {
  -webkit-text-size-adjust: 100%;
}

body {
  background: linear-gradient(145.44deg, #F2F4FA 0%, #FAFBFC 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #5E6E80;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.7;
  min-height: 100vh;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
}
